$error-color: #f00;
$form-color: #fff;

body {
  margin: 0;
  padding: 0;
  font-family: "Oxygen", "Helvetica Neue", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

//Variables
$error-color: #f00;
$background-body: #eee;
$form-color: #fff;
$text-color: #008080;

.centered {
  background-color: $form-color;
  border-radius: 5px;
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  width: 350px;
}

@media screen and (max-width: 800px) {
  .center {
    font-size: 50px;
    width: 85%;
  }
}

.input-field label {
  height: 1px;
}

.nav {
  margin-bottom: 50px;
}

.center-btn {
  margin-left: 200%;
}

.alert-err {
  color: $error-color;
  font-size: 18px;
  font-weight: 100;
  margin-left: 5%;
  text-align: left;
}

.msg {
  color: $text-color;
}

.verification {
  color: $error-color;
  font-weight: 900;
  margin-top: 100px;
  text-align: center;
}

.inline-error {
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
}

.ratings {
  position: relative;
}

.signupsuccess {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 20%;
  padding-right: 20%;
}

.forgot {
  width: 50%;
  margin-left: 25%;
}
