#publish-dropdown {
  position: absolute;
  width: 500px;
  top: 15%;
  left: 60%;
  z-index: 2000;
}

#publish-dropdown .show {
  display: block;
}

#publish-dropdown .hide {
  display: none;
}

ul.collection.publish-card {
  padding: 10px 20px 0 20px;
  background-color: white;
}

.publish-card {
  height: 200px;
  position: relative;
}

#tag-chips {
  padding-top: 40px;
}

#tag-chips .col.s12 {
  margin-top: 50px;
  margin-left: 10%;
}
